<!-- Panel de Contacto -->
<div class="contact-panel">
    <div class="contact-panel-content">
        <img src="/images/logo-horizontal.png" alt="Mercap Logo" class="contact-panel-logo">
        <div class="contact-panel-text-wrapper">
            <p class="contact-panel-text">¿Necesitás mas información sobre Unitrade?</p>
        </div>
        <div class="contact-panel-button-wrapper">
            <button type="button" 
                    class="contact-panel-button" 
                    title="CONTACTANOS"
                    onclick="window.location.href='mailto:producto@mercapsoftware.com?subject=Consulta sobre Unitrade&body=Hola,%0D%0A%0D%0AMe gustaría obtener más información sobre Unitrade.%0D%0A%0D%0ASaludos'">
                CONTACTANOS
            </button>
        </div>
    </div>
</div>

